# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo
